* {
    margin-left: 40px;
    margin-right: 20px;
    background-color:blanchedalmond;

}

.Top{
    border: 5px;
    border-radius: 40px;
    border-style: double;
    border-color: darkslateblue;
    padding-top: 10px;
    content: "";
    clear: both;
    display: flex;
}

.biopic img {
    margin-left: -15px;
    height: 250px;
    width: auto;
    border-radius: 50%;
    border: 3px solid darkblue;

}

h1 {
    color: blue;
    font-style: italic;
    font-size: 45px;
    font-family:"Times New Roman", Times, serif;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;

}

h2 {
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}
.bio {
    margin-left: -30px;
    margin-top: -10px;
    text-align: justify;
    vertical-align: middle;
    border-radius: 40px;
}
.bio p::first-letter {
    font-size: 200%;
    color: darkblue;
}
.bio .title {
   text-align: center;
}

.media img{
    margin-left: -20px;
    vertical-align: middle;
    height: 30px;
    width: auto;
    position:relative;
}

.projects {
   margin-left: -50px;
}

a:link {
    color:blue;
}


a:visited {
    color: blueviolet;
}


a:hover {
    color: darkslateblue;
}

a:active {
    color: red;
}
